<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wubin.datacenter.dao.demo.YyMapper" >
    <sql id="Base_Column_List" >
        name, subj, score
    </sql>
    <select id="findAll" resultType="YyBean">
        select
        <include refid="Base_Column_List" />
        from YY
    </select>
</mapper>